<% if @embedded %>
  <script>
  if(!window.Plotly) {
    requirejs.config({ paths: { 'plotly': ['<%= PLOTLY_JS_CDN_URL %>'] } })
    require(['plotly'], function(plotly) {window.Plotly=plotly})
  }
  </script>
<% else %>
  <script>
  <%= LOCAL_PLOTLY_JS %>
  </script>
<% end %>

<div id="<%= @id %>" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

<script>
window.PLOTLYENV=window.PLOTLYENV || {}
window.PLOTLYENV.BASE_URL='https://plot.ly'

Plotly.newPlot(
  '<%= @id %>',
  <%= @data.to_json %>,
  <%= @layout.to_json %>,
  <%= @config.to_json %>
)

window.addEventListener('resize', function() {
  Plotly.Plots.resize(document.getElementById('<%= @id %>'))
})
</script>